.titulo{
    background-color: #5A3954;
    border: 50px solid #5A3954;
    color: white;
    text-align: center;
}
.se_impecable{
    width: 49%;
    display: inline-block;
    background-color: #038c8a;
    color;
}